/* filters.component.css */

/* Contenedor del popup */
.filter-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 250px; /* Ancho total del contenedor */
  max-height: 80vh; /* Máxima altura del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura */
  display: flex;

}

/* Contenido del popup */
.filter-popup-content {
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 0 20px; /* Espacio entre las dos columnas */
}

/* Estilos para la lista de categorías */
.filter-popup-content ul {
  list-style: none;
  padding: 0;
}

.filter-popup-content ul li {
  cursor: pointer;
  padding: 10px 0;
}

.filter-popup-content ul li.selected {
  background-color: #f0f0f0; /* Color de fondo cuando la categoría está seleccionada */
}

/* Estilos para la lista de categorías seleccionadas */
.filter-popup-content h4 {
  margin-top: 20px;
}

.filter-popup-content .selected-categories-list {
  list-style: none;
  padding: 0;
}

.filter-popup-content .selected-categories-list li {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.filter-popup-content .selected-categories-list li .remove-category {
  margin-left: 5px;
  cursor: pointer;
}

.remove-category{
  color: red;
  cursor: pointer;
}

/* Botón de cerrar */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: red;
  padding: 0;
}

/* Contenedor del botón */
.apply-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Aumenta el espacio entre la lista de categorías seleccionadas y el botón */
}

/* Estilos para el botón */
.apply {
  width: 100px;
  background-color: rgba(39, 110, 144, 0.4);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Bevan';
}
