

.section-profile{
  background-color: rgba(39, 110, 144, 0.4);
  min-height: 50.6vh;
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
}

.section-profile__title{
  font-size: 2rem;
}


