<section class="section-sell">
  <h1 class="section-sell__title">Upload products</h1>

  <form [formGroup]="productForm" (submit)="onSubmit($event)" class="form">
    <input placeholder="Product name" type="text" formControlName="name" class="input input--text" (blur)="validateField('name')">
    <p *ngIf="fieldErrors['name']" class="error-message error-message--visible">Este campo es requerido.</p>

    <input placeholder="Description..." type="text" formControlName="description" class="input input--text" (blur)="validateField('description')">
    <p *ngIf="fieldErrors['description']" class="error-message error-message--visible">Este campo es requerido.</p>

    <input placeholder="Price" type="number" formControlName="price" class="input input--number" (blur)="validateField('price')">
    <p *ngIf="fieldErrors['price']" class="error-message error-message--visible">Este campo es requerido.</p>

    <div class="filter-group">
      <input placeholder="Filter" type="text" #filterInput class="filter-input">
      <button type="button" (click)="addFilter(filterInput.value)" class="filter-button">Add Filter</button>
    </div>
    <p *ngIf="!product.categories.length" class="error-message error-message--visible">Al menos un filtro es requerido.</p>

    <div class="filters">
      <div *ngFor="let filter of product.categories; let i = index" class="filter-wrapper">
        <span (click)="removeFilter(i)" class="remove-filter">X</span>
        <span>{{ filter }}</span>
      </div>
    </div>

    <div class="dropzone">
      <div class="text-wrapper">
        Drag and drop or <a (click)="selectFile.click()" class="browse-button">browse</a> a file
      </div>
    </div>

    <input
    multiple
    type="file"
    #selectFile
    style="display:none"
    (change)="onFileSelected($event)"
  />

    <p *ngIf="!product.productImages.length" class="error-message error-message--visible">Al menos una foto es requerida.</p>

    <div class="images">
      <div *ngFor="let file of product.productImages; let i = index" class="image-wrapper">
        <span (click)="removeImage(i)" class="remove-image">X</span>
        <img [src]="file.url" alt="Product Image" class="foto">
      </div>
    </div>

    <button type="submit" class="submit-button">Upload product</button>

    <p *ngIf="successMessage" class="success-message success-message--visible">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error-message error-message--visible">{{ errorMessage }}</p>
  </form>
</section>
