
/* Contenedor */
.register-container {
  display: flex;
  min-height: 72.1vh;
  align-items: center;
  justify-content: center;
}


.register-container .header {
  display: none;
}


/*Formulario */

.register-form {
  width: 70%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.register-form__title{
  font-size: 2.5em;
  text-align: center;
  margin-top: 10px;
  font-family:'Battambang';

}

.register-form__form {
  width: 70%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.register-form__input{
  background-color: rgba(39, 110, 144, 0.4);
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.register-form__input::placeholder{
  color: black;
}


.register-form__error-message{
  color: red;
  margin-bottom: 0;

}

.register-form__button {
  width: 100px;
  background-color: rgba(39, 110, 144, 0.4);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Bevan';

}


.register-form__button:hover {
  background-color: #333333;
}

.register-form__dont-account{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}




/*Recuadro de info */

.register-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 400px;
  padding: 0%;
  margin: 0;
}

.register-info__box{
  width: 80%;
  height: 100%;
  background-color: rgba(39, 110, 144, 0.4);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family:'Battambang';
  color: black;


}


.register-info__box-title{
  font-size: 2rem;

}

.register-info__box-text{
  max-width: 70%;
  text-align: justify;
  font-size: 1.5rem;

}





/* Responsive */

@media screen and (max-height: 850px) {
  .register-form__input{
    margin-top: 10px;
  }
  .register-form__title{
    margin-bottom: -30px;
  }
  .register-form__button {
    margin-top: 10px;
  }
}


@media screen and (max-width: 1500px) {
  .register-info__box-title{
    font-size: 1.5rem;

  }

  .register-info__box-text{

    font-size: 1.2rem;

  }
}


@media screen and (max-width: 1300px) {
  .register-info__box-title{
    font-size: 1.1rem;

  }

  .register-info__box-text{

    font-size: 0.9rem;

  }
}


@media screen and (max-width: 950px) {
  .register-info__box-title{
    font-size: 1.1rem;

  }

  .register-info__box-text{

    font-size: 0.7rem;

  }
  .register-form__form {
    width: 90%;

  }
}


@media screen and (max-width: 650px) {
  .register-info{
    display: none;
  }
  .register-form {
    width: 100% ;

  }


}
