<section class="login-container">
  <article class="login-form">
    <h1 class="login_title">Login</h1>
    <form [formGroup]="loginForm">
      <input type="email" formControlName="email" class="campo-input campo-email" placeholder="Email">
      <input type="password" formControlName="password" class="campo-input campo-password" placeholder="Password">
      <button type="submit" class="boton-login" (click)="login()">LOGIN</button>
      <p class="dontAcount">Don't have an account yet? <a routerLink='/auth/new-acount'>Sign up</a></p>
    </form>
  </article>
</section>
