.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 70vh;
}

.chat-title {
  width: 98%;
  height: 50px;
  background-color: #276E90;
  border-radius: 5px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.no-messages {
  margin-bottom: 20px;
  color: #999;
}

.message-container {
  display: flex;
  flex-direction: column;
  max-height: 400px; /* Altura máxima para el contenedor de mensajes */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  scroll-behavior: smooth; /* Hace que el desplazamiento sea suave */
}

.message-container > :last-child {
  scroll-margin-bottom: 10px; /* Ajusta la distancia del borde inferior de la ventana de desplazamiento */
}

.message-item {
  margin-bottom: 10px;
}

.message-text {
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  word-wrap: break-word; /* Rompe las palabras largas en múltiples líneas */
}

.my-message {
  align-self: flex-end;
  background-color: #0000006d;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.other-message {
  align-self: flex-start;
  background-color: #00000041;
  color: black;
  border-radius: 5px;
}

.message-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input-with-button {
  display: flex;
  width: 100%;
}

input.form-control {
  flex: 1;
  height: 20px;
}

.btn-primary {
  background-color: #00000068;
  border: none;
  cursor: pointer;
}
